.modal {
  $this: &;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(11, 11, 11, .5);

  &::-webkit-scrollbar {
    width: 0;
  }

  &--loading {
    #{$this}__card {
      @include preloader;
    }
  }

  &__container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 15px;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
  }

  &__card {
    position: relative;
    flex-grow: 1;
    max-width: 750px;
    padding: 24px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 16px 24px rgba(0, 0, 0, .14), 0 6px 30px rgba(0, 0, 0, .12), 0 8px 10px rgba(0, 0, 0, .2);
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    @include xl {
      font-size: 24px;
      line-height: 28px;
    }

    @include md {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__subtitle {
    font-size: 24px;
    line-height: 24px;
    margin-top: 16px;
    color: #767676;

    @include xl {
      font-size: 20px;
      line-height: 22px;
    }

    @include md {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__search {
    position: relative;
    margin-top: 51px;
    margin-bottom: 116px;

    &--has-error {
      #{$this}__search-input {
        border-color: $red;
      }

      #{$this}__search-error {
        display: block;
      }
    }

    @include md {
      margin-top: 20px;
    }
  }

  &__search-input {
    display: block;
    border-width: 0 0 1px 0;
    border-color: $body;
    padding: 16px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    width: 100%;
    transition: .3s;

    &::-webkit-input-placeholder {
      color: $modal-grey;
    }
    &:-moz-placeholder {
      color: $modal-grey;
    }
    &::-moz-placeholder {
      color: $modal-grey;
    }
    &:-ms-input-placeholder {
      color: $modal-grey;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
    &:focus:-moz-placeholder {
      color: transparent;
    }
    &:focus::-moz-placeholder {
      color: transparent;
    }
    &:focus:-ms-input-placeholder {
      color: transparent;
    }

    @include md {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &__search-error {
    display: none;
    position: absolute;
    color: $red;
    padding-top: 12px;
  }

  &__search-results {
    position: absolute;
    overflow-y: auto;
    max-height: 115px;
    top: 70px;
    border: 1px solid $body;
    width: 100%;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: #fff;
      border-left: 1px solid $body;
    }

    &::-webkit-scrollbar-thumb {
      background: $body;

      &:hover {
        background: $body;
      }
    }

    @include xl {
      max-height: 104px;
    }

    @include lg {
      max-height: 98px;
    }
  }

  &__search-item {
    border: none;
    width: 100%;
    padding: 5px 15px;
    text-align: left;

    &:hover {
      background-color: $body;
      color: #fff;
    }
  }

  &__foot-row {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-top: 24px;
  }

  &__foot-col {
    &:first-child {
      padding-right: 15px;
      margin-right: auto;
    }

    &:last-child {
      padding-left: 15px;
      margin-left: auto;
    }
  }

  &__btn {
    padding: 0;
    border: none;
    color: $modal-grey;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      color: $purple;
    }
  }
}
